---
name: {{.module_name_pkg}} CI 🧹
on:
    push:
        branches:
            - main
            - master
        paths:
            - {{.module_name_pkg}}/**/*.go
    pull_request:
        paths:
            - {{.module_name_pkg}}/**/*.go
    workflow_dispatch:

permissions:
    contents: read
    pull-requests: read
    checks: write

defaults:
    run:
        working-directory: {{.module_name_pkg}}

jobs:
    dagger-linter:
        strategy:
            matrix:
                go: ['1.22']
                dagversion: [0.12.0, 0.12.1, 0.12.2, 0.12.3. 0.12.4]
        name: Lint {{.module_name_pkg}} on ${{ matrix.os }} with Dagger ${{ matrix.dagversion }}
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-go@v5
              with:
                  go-version: ${{ matrix.go }}
            - name: Dagger Develop on Module 📦 with Dagger ${{ matrix.dagversion }}
              uses: dagger/dagger-for-github@v6
              with:
                  verb: develop
                  module: {{.module_name_pkg}}
                  version: ${{ matrix.dagversion }}
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            - name: Dagger Develop on Test Module 🧪 with Dagger ${{ matrix.dagversion }}
              uses: dagger/dagger-for-github@v6
              with:
                  verb: develop
                  module: {{.module_name_pkg}}/tests
                  version: ${{ matrix.dagversion }}
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            - name: Dagger Develop on Examples Module for Go 📄 with Dagger ${{ matrix.dagversion }}
              uses: dagger/dagger-for-github@v6
              with:
                  verb: develop
                  module: {{.module_name_pkg}}/examples/go
                  version: ${{ matrix.dagversion }}
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - name: Dagger Call on Module 📦 with Dagger ${{ matrix.dagversion }}
              uses: dagger/dagger-for-github@v6
              with:
                  verb: call
                  module: {{.module_name_pkg}}
                  version: ${{ matrix.dagversion }}
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            - name: Dagger Call on Test Module 🧪 with Dagger ${{ matrix.dagversion }}
              uses: dagger/dagger-for-github@v6
              with:
                  verb: call
                  module: {{.module_name_pkg}}/tests
                  version: ${{ matrix.dagversion }}
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            - name: Dagger Call on Test Examples/Go Module 📄 with Dagger ${{ matrix.dagversion }}
              uses: dagger/dagger-for-github@v6
              with:
                  verb: call
                  module: {{.module_name_pkg}}/examples/go
                  version: ${{ matrix.dagversion }}
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    golangci-lint:
        strategy:
            matrix:
                go: ['1.22']
        name: GolangCI-Lint for {{.module_name_pkg}}
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-go@v5
              with:
                  go-version: ${{ matrix.go }}

      # Dagger main module 📦 (develop & golang ci-lint)
            - name: Dagger Develop on Module 📦 {{.module_name_pkg}} with Dagger ${{ matrix.dagversion }}
              uses: dagger/dagger-for-github@v6
              with:
                  verb: develop
                  module: {{.module_name_pkg}}
                  version: ${{ matrix.dagversion }}
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            - name: Run golangci-lint on {{.module_name_pkg}} 📦
              uses: golangci/golangci-lint-action@v6
              with:
                  version: v1.58
                  args: --config .golangci.yml ./{{.module_name_pkg}}

      # Dagger test module 🧪 (develop & golang ci-lint)
            - name: Dagger Develop on Module tests 🧪 {{.module_name_pkg}} with Dagger ${{ matrix.dagversion }}
              uses: dagger/dagger-for-github@v6
              with:
                  verb: develop
                  module: {{.module_name_pkg}}/tests
                  version: ${{ matrix.dagversion }}
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            - name: Run golangci-lint on {{.module_name_pkg}}/tests 🧪
              uses: golangci/golangci-lint-action@v6
              with:
                  version: v1.58
                  args: --config .golangci.yml ./{{.module_name_pkg}}/tests

      # Dagger examples (go) module 📄 (develop & golang ci-lint)
            - name: Dagger Develop on Module Examples/Go 📄 {{.module_name_pkg}} with Dagger ${{ matrix.dagversion }}
              uses: dagger/dagger-for-github@v6
              with:
                  verb: develop
                  module: {{.module_name_pkg}}/examples/go
                  version: ${{ matrix.dagversion }}
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            - name: Run golangci-lint on {{.module_name_pkg}}/examples/go 📄 (develop & golang ci-lint)
              uses: golangci/golangci-lint-action@v6
              with:
                  version: v1.58
                  args: --config .golangci.yml ./{{.module_name_pkg}}/examples/go

    module-test:
        strategy:
            matrix:
                go: ['1.22']
                dagversion: [0.12.0, 0.12.1, 0.12.2, 0.12.3. 0.12.4]
        needs: [dagger-linter, golangci-lint]
        name: Run Tests 🧪 in {{.module_name_pkg}} on ${{ matrix.os }} with Dagger ${{ matrix.dagversion }}
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-go@v5
              with:
                  go-version: ${{ matrix.go }}
            - name: Dagger Develop on Module 📦 with Dagger ${{ matrix.dagversion }}
              uses: dagger/dagger-for-github@v6
              with:
                  verb: develop
                  module: {{.module_name_pkg}}
                  version: ${{ matrix.dagversion }}
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            - name: Dagger Develop on Test Module 🧪 with Dagger ${{ matrix.dagversion }}
              uses: dagger/dagger-for-github@v6
              with:
                  verb: develop
                  module: {{.module_name_pkg}}/tests
                  version: ${{ matrix.dagversion }}
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            - name: Running Tests 💣 in {{.module_name_pkg}} on ${{ matrix.os }} with Dagger ${{ matrix.dagversion }}
              uses: dagger/dagger-for-github@v6
              with:
                  verb: call
                  args: test-all
                  module: {{.module_name_pkg}}/tests
                  version: ${{ matrix.dagversion }}
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    {{.module_name_pkg}}s-go:
        strategy:
            matrix:
                go: ['1.22']
                dagversion: [0.12.0, 0.12.1, 0.12.2, 0.12.3. 0.12.4]
        needs: [dagger-linter, golangci-lint]
        name: Run recipes 🥗 in {{.module_name_pkg}}/examples/go on ${{ matrix.os }} with Dagger ${{ matrix.dagversion }}
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-go@v5
              with:
                  go-version: ${{ matrix.go }}
            - name: Dagger Develop on Module Examples 📄 with Dagger ${{ matrix.dagversion }}
              uses: dagger/dagger-for-github@v6
              with:
                  verb: develop
                  module: {{.module_name_pkg}}/examples/go
                  version: ${{ matrix.dagversion }}
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            - name: Running Recipes create container 💣 in {{.module_name_pkg}}/examples/go on ${{ matrix.os }} with Dagger ${{ matrix.dagversion }}
              uses: dagger/dagger-for-github@v6
              with:
                  verb: call
                  args: create-container
                  module: {{.module_name_pkg}}/examples/go
                  version: ${{ matrix.dagversion }}
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - name: Running Recipes passed env vars 💣 in {{.module_name_pkg}}/examples/go on ${{ matrix.os }} with Dagger ${{ matrix.dagversion }}
              uses: dagger/dagger-for-github@v6
              with:
                  verb: call
                  args: passed-env-vars
                  module: {{.module_name_pkg}}/examples/go
                  version: ${{ matrix.dagversion }}
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            - name: Running Recipes run-arbitrary-command 💣 in {{.module_name_pkg}}/examples/go on ${{ matrix.os }} with Dagger ${{ matrix.dagversion }}
              uses: dagger/dagger-for-github@v6
              with:
                  verb: call
                  args: run-arbitrary-command
                  module: {{.module_name_pkg}}/examples/go
                  version: ${{ matrix.dagversion }}
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
