# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.out.tmp

# Dependency directories (remove the comment below to include it)
# vendor/
# Specific binaries
**/bin/
**/bin/go

.vscode.scannerwork
.scannerwork
.idea/**
.idea
.idea/aws.xml

# Dev builds
**/build/
**/dist/

.vscode/

# Ignore related terraform, and terragrunt files
*.tfstate
*.tfstate.*
*.tfplan
*.tfplan.*
**/.terraform/
**/.terragrunt-cache/
.terraform/
.DS_Store
*.zip
/dagger.gen.go
/internal/dagger
/internal/querybuilder
go.work

/.direnv
/result
/.nix-profile
/.nix-defexpr
/.nix-gcroots
/nix/
