go 1.22.2

toolchain go1.22.3

use (
	.
	./daggerx
	./gitlab-cicd-vars/dagger
	./goreleaser/dagger
	./terraform/dagger
	./terragrunt/dagger
	./terratest/dagger
	./tflint/dagger
	./utils
)

//replace github.com/Excoriate/daggerx v0.0.5 => ./../daggerx
