package main

import "fmt"

// WithAWSCLIInAlpineContainer installs the AWS CLI in the
// Alpine-based container.
// This method installs the AWS CLI in a golang/alpine container
// using the 'apk' package manager.
// It is particularly useful for environments that need to
// interact with AWS services.
//
// Returns:
//   - *{{.module_name}}: The updated {{.module_name}} with the AWS CLI installed in the container.
func (m *{{.module_name}}) WithAWSCLIInAlpineContainer() *{{.module_name}} {
	m.Ctr = m.Ctr.
		WithExec([]string{"apk", "add", "--no-cache", "aws-cli"})

	return m
}

// WithAWSCLIInUbuntuContainer installs the AWS CLI in the Ubuntu-based container.
//
// This method installs the AWS CLI in an Ubuntu-based container following the
// official AWS installation steps.
//
// Args:
//   - architecture (string): The architecture for which the AWS CLI should be downloaded.
//     Valid values are "x86_64" and "aarch64". Default is "x86_64".
//
// Returns:
//   - *{{.module_name}}: The updated {{.module_name}} with the AWS CLI installed in the container.
func (m *{{.module_name}}) WithAWSCLIInUbuntuContainer(
	// architecture is the architecture for which the AWS CLI should be downloaded.
	// Valid values are "x86_64" and "aarch64". Default is "x86_64".
	// +optional
	architecture string) *{{.module_name}} {
	// Validate and default the architecture argument
	switch architecture {
	case "":
		architecture = "x86_64"
	case "aarch64", "x86_64":
		// valid architectures
	default:
		panic("Invalid architecture specified. Supported values are 'x86_64' and 'aarch64'.")
	}

	url := fmt.Sprintf("https://awscli.amazonaws.com/awscli-exe-linux-%s.zip", architecture)

	m.Ctr = m.Ctr.
		WithExec([]string{"apt-get", "update"}).
		WithExec([]string{"apt-get", "install", "-y", "unzip", "curl", "sudo"}).
		WithExec([]string{"curl", "-L", url, "-o", "awscliv2.zip"}).
		WithExec([]string{"unzip", "awscliv2.zip"}).
		WithExec([]string{"sudo", "./aws/install"}).
		WithExec([]string{"rm", "-rf", "awscliv2.zip", "aws"})

	return m
}
