package main

import (
	"context"
	"fmt"
)

// Terminal returns a terminal
//
// It returns a terminal for the container.
// Arguments:
// - None.
// Returns:
// - *Terminal: The terminal for the container.
func (m *{{.module_name}}) Terminal() *Terminal {
	return m.Ctr.Terminal()
}

// RunShell runs a shell command in the container.
//
// It runs a shell command in the container and returns the output.
// Arguments:
// - cmd: The command to run in the container.
// Returns:
// - string: The output of the command.
// - error: An error if the command fails.
func (m *{{.module_name}}) RunShell(cmd string) (string, error) {
	out, err := m.Ctr.WithoutEntrypoint().WithExec([]string{"sh", "-c", cmd}).Stdout(context.Background())
	if err != nil {
		return "", fmt.Errorf("failed to run shell command: %w", err)
	}

	return out, nil
}
