// Package main provides utility functions for working with Docker containers.
//
// This package includes constants and a function for getting the Docker-in-Docker image.
//
// Copyright: Excoriate
// License: Apache-2.0
package main

import "fmt"

const (
	// defaultContainerVersion specifies the default version for the container.
	defaultContainerVersion = "latest"
	// defaultContainerImage specifies the default image for the container.
	defaultContainerImage = "alpine"
)