package main

import (
	"github.com/Excoriate/daggerx/pkg/installerx"
)

// WithAWSCLIInAlpineContainer installs the AWS CLI in the
// Alpine-based container.
// This method installs the AWS CLI in a golang/alpine container
// using the 'apk' package manager.
// It is particularly useful for environments that need to
// interact with AWS services.
//
// Returns:
//   - *{{.module_name}}: The updated {{.module_name}} with the AWS CLI installed in the container.
func (m *{{.module_name}}) WithAWSCLIInAlpineContainer() *{{.module_name}} {
	m.Ctr = m.Ctr.
		WithExec([]string{"apk", "add", "--no-cache", "aws-cli"})

	return m
}

// WithAWSCLIInUbuntuContainer installs the AWS CLI in the Ubuntu-based container.
//
// This method installs the AWS CLI in an Ubuntu-based container following the
// official AWS installation steps.
//
// Args:
//   - architecture (string): The architecture for which the AWS CLI should be downloaded.
//     Valid values are "x86_64" and "aarch64". Default is "x86_64".
//
// Returns:
//   - *{{.module_name}}: The updated {{.module_name}} with the AWS CLI installed in the container.
func (m *{{.module_name}}) WithAWSCLIInUbuntuContainer(
	// architecture is the architecture for which the AWS CLI should be downloaded.
	// Valid values are "x86_64" and "aarch64". Default is "x86_64".
	// +optional
	architecture string) *{{.module_name}} {
	awsCLIInstallation := installerx.GetAwsCliInstallCommand(architecture)

	m.Ctr = m.Ctr.
		WithExec([]string{"apt-get", "update"}).
		WithExec([]string{"apt-get", "install", "-y", "unzip", "curl", "sudo"}).
		WithExec([]string{"sh", "-c", awsCLIInstallation})

	return m
}
